<div ng-include="'inc/menuTop.html'"></div>
<div class="container general epublica">
    <div class="row epublica">
        <div class="col-md-12">
            <h1>Portal Supervisión PLD/FT</h1>
            <h3>Acceso</h3>
            <hr>
            <form>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Usuario</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUsuario" placeholder="Ingresa tu usuario">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Ingresa tu contraseña">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Clave CASFIM o número de Registro</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputRegistro" placeholder="Ingresa Clave CASFIM o número de Registro">
                        </div>
                    </div>
                    <button class="btn btn-default">INGRESAR</button>
            </form>
        </div>
    </div>
</div>