<div ng-include="'inc/menuTop.html'"></div>
<div id="flex-container" class="intro">
    <div id="flex-item">
        <div class="row">
            <div class="col-md-6">
                <div align="center">
                    <a href="#!riesgos">
                        <img src="images/auditorias.svg" alt="" title="">
                        <h3>REPORTES DEL ÁREA DE AUDITORÍA</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div align="center">
                    <a href="#!expedienteInstitucionFinanciera">
                        <img src="images/riesgos.svg" alt="" title="">
                        <h3>REPORTES DEL ÁREA DE<br>RIESGO</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
