<div ng-include="'inc/menuTop.html'"></div>
<div class="container general">
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'inc/sideMenuRiesgos.html'"></div>
        </div>
        <div class="col-md-10">
            <div class="row mb-5">
                <div class="col-md-12">
                    <h3 class="titInst" style="font-size:13px;">Grupo Financiero Banorte, S.A.B. de C.V.</h3>
                    <div ng-include="'inc/select.html'"></div>
                </div>
                <div class="col-md-12">
                    <hr>
                    <h1 class="titInst">Reporte 4</h1>
                    <h4 class="titInst">Operaciones hacia Países de Baja Imposición Fiscal</h4>
                    <hr>
                </div>
            </div>
            <div class="row mt-1 mb-5">
                <div class="col-md-10">
                    <!-- Chart code -->
<script>
/**
 * SVG path for target icon
 */
var targetSVG = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";

/**
 * SVG path for plane icon
 */
var planeSVG = "M19.671,8.11l-2.777,2.777l-3.837-0.861c0.362-0.505,0.916-1.683,0.464-2.135c-0.518-0.517-1.979,0.278-2.305,0.604l-0.913,0.913L7.614,8.804l-2.021,2.021l2.232,1.061l-0.082,0.082l1.701,1.701l0.688-0.687l3.164,1.504L9.571,18.21H6.413l-1.137,1.138l3.6,0.948l1.83,1.83l0.947,3.598l1.137-1.137V21.43l3.725-3.725l1.504,3.164l-0.687,0.687l1.702,1.701l0.081-0.081l1.062,2.231l2.02-2.02l-0.604-2.689l0.912-0.912c0.326-0.326,1.121-1.789,0.604-2.306c-0.452-0.452-1.63,0.101-2.135,0.464l-0.861-3.838l2.777-2.777c0.947-0.947,3.599-4.862,2.62-5.839C24.533,4.512,20.618,7.163,19.671,8.11z";

/**
 * Create the map
 */
var map = AmCharts.makeChart( "chartdiv", {
  "type": "map",
  "theme": "light",
  "dataLoader": {
    //"url": "http://169.57.27.134:3001/api/s5r4_tifr_mapageo_lines",
    "url": "http://169.57.27.134:3001/api/s5r4_tifr_mapageo_lines",
    "format": "json",
    "postProcess": function(data, config, chart) {
        return data;
        console.log(data);
    }
  },
  /*
  "dataLoader": {
    "url": "data/mapados.json",
    "format": "json",
    "postProcess": function(data, config, chart) {
        return data;
        console.log(data);
    }
  },
  */
  "areasSettings": {
    "unlistedAreasColor": "#FFCC00"
  },

  "imagesSettings": {
    "color": "#CC0000",
    "rollOverColor": "#CC0000",
    "selectedColor": "#000000"
  },

  "linesSettings": {
    "color": "#CC0000",
    "alpha": 0.4
  },

  "balloon": {
    "drop": true
  },

  "backgroundZoomsToTop": true,
  "linesAboveImages": true,

  "export": {
    "enabled": true
  }
} );
</script>


                    <div id="chartdiv" style="width:100%;height: 550px;"></div>
                    
<script>
/**
 * SVG path for target icon
 */
var targetSVG = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";

/**
 * SVG path for plane icon
 */
var planeSVG = "M19.671,8.11l-2.777,2.777l-3.837-0.861c0.362-0.505,0.916-1.683,0.464-2.135c-0.518-0.517-1.979,0.278-2.305,0.604l-0.913,0.913L7.614,8.804l-2.021,2.021l2.232,1.061l-0.082,0.082l1.701,1.701l0.688-0.687l3.164,1.504L9.571,18.21H6.413l-1.137,1.138l3.6,0.948l1.83,1.83l0.947,3.598l1.137-1.137V21.43l3.725-3.725l1.504,3.164l-0.687,0.687l1.702,1.701l0.081-0.081l1.062,2.231l2.02-2.02l-0.604-2.689l0.912-0.912c0.326-0.326,1.121-1.789,0.604-2.306c-0.452-0.452-1.63,0.101-2.135,0.464l-0.861-3.838l2.777-2.777c0.947-0.947,3.599-4.862,2.62-5.839C24.533,4.512,20.618,7.163,19.671,8.11z";

/**
 * Create the map
 */
var map = AmCharts.makeChart( "chartdivxy", {
  "type": "map",
  "theme": "light",
  "dataLoader": {
    //"url": "http://169.57.27.134:3001/api/s5r4_tifr_mapageo_lines",
    "url": "http://169.57.27.134:3001/api/s5r4_tife_mapageo_lines",
    "format": "json",
    "postProcess": function(data, config, chart) {
        return data;
        console.log(data);
    }
  },
  /*
  "dataLoader": {
    "url": "data/mapados.json",
    "format": "json",
    "postProcess": function(data, config, chart) {
        return data;
        console.log(data);
    }
  },
  */
  "areasSettings": {
    "unlistedAreasColor": "#FFCC00"
  },

  "imagesSettings": {
    "color": "#CC0000",
    "rollOverColor": "#CC0000",
    "selectedColor": "#000000"
  },

  "linesSettings": {
    "color": "#CC0000",
    "alpha": 0.4
  },

  "balloon": {
    "drop": true
  },

  "backgroundZoomsToTop": true,
  "linesAboveImages": true,

  "export": {
    "enabled": true
  }
} );
</script>


                    <div id="chartdivxy" style="width:100%;height: 550px;"></div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12">
                        <h3 class="titInst tif" style="font-size:13px;">BD TIFE y TIFR</h3>
                        <div class="form-group">
                            <select class="form-control tif" id="sel1">
                                <option value="Banorte TIFR">Banorte TIFR</option>
                                <option value="Banorte TIFE">Banorte TIFE</option>
                            </select>
                        </div>
                        <script>
                            $(document).ready(function(){
                                $('#chartdivxy').hide();
                                $('h3.titInst.tif').text('Banorte TIFR');
                                $('.form-control.tif').on('change', function(){
                                   console.log(this.value);
                                   if(this.value === "Banorte TIFR"){
                                       $('#chartdivxy').hide();
                                       $('#chartdiv').show();
                                       $('h3.titInst.tif').text('Banorte TIFR');
                                   } else {
                                       $('#chartdivxy').show();
                                       $('#chartdiv').hide();
                                       $('h3.titInst.tif').text('Banorte TIFE');
                                   }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="row mt-1 mb-5">
                <div class="col-md-6" style="height: 350px; overflow: auto;">
                    <table class="table table-striped" style="text-align:left;">
                        <thead>
                            <tr>
                                <th>
                                    País
                                </th>
                                <th>
                                    Número de Operaciones
                                </th>
                                <th>
                                    Monto Operaciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tablauno in tabalaunos">
                                <td>{{tablauno.pais}}</td>
                                <td>{{tablauno.num_oper}}</td>
                                <td>$ {{tablauno.monto | number : 2}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div align='center'>
                        <a href=''><i class="fa fa-download" style='font-size:20px;'></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Tipo de Operación
                                </th>
                                <th>
                                    Número de Operaciones
                                </th>
                                <th>
                                    Monto Operaciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tablados in tabaladoss">
                                <td>{{tablados.tipo_oper}}</td>
                                <td>{{tablados.num_oper}}</td>
                                <td>$ {{tablados.monto | number : 2}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div align='center'>
                        <a href=''><i class="fa fa-download" style='font-size:20px;'></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>