<div class="modal fade modalSecciones" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccione Sección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a ng-click="go('/expedienteInstitucionFinanciera')" class="btn btn-primary sec" data-dismiss="modal">Aaaanálisis comparativo R24E ó Cuestionario<br> de Operatividad de la Institución vs Sector</a>
                        <ul class="secciones">
                            <li>
                                <a href="#!expedienteInstitucionFinanciera">
                                    1
                                </a>
                            </li>
                            <!--
                            <li>
                                <a href="#!expedienteInstitucionFinancieraDos">
                                    2
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteInstitucionFinancieraTres">
                                    3
                                </a>
                            </li>
                            -->
                            <li>
                                <a href="#!expedienteInstitucionFinancieraCuatro">
                                    2
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteInstitucionFinancieraCinco">
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteInstitucionFinancieraSeis">
                                    4
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteInstitucionFinancieraSiete">
                                    5
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteInstitucionFinancieraOcho">
                                    6
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteInstitucionFinancieraNueve">
                                    7
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteInstitucionFinancieraDiez">
                                    8
                                </a>
                            </li>
                            <!--
                            <li>
                                <a href="#!expedienteInstitucionFinancieraOnce">
                                    11
                                </a>
                            </li>
                            -->
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <a  ng-click="go('/expedienteInstitucionFinancieraCinco')" class="btn btn-primary sec" data-dismiss="modal">Reportes de Conciliación</a>
                        <ul class="secciones conciliacion">
                            <li>
                                <a href="#!expedienteConciliacion">
                                    1
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteConciliacionUno">
                                    2
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="#!expedienteInstitucionFinanciera" class="btn btn-primary sec">Reporte de Estadística Descriptiva<br>de Institución de acuerdo a riesgo</a>
                        <ul class="secciones estadistica">
                            <li>
                                <a href="#!expedienteEstadistica">
                                    1
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteEstadisticaUno">
                                    2
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteEstadisticaDos">
                                    3
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <a href="#!expedienteInstitucionFinanciera" class="btn btn-primary sec">Análisis de Alertas de Riesgo</a>
                        <ul class="secciones alertas">
                            <li>
                                <a href="#!expedienteAlertas">
                                    1
                                </a>
                            </li>
                            <li>
                                <a href="#!expedienteAlertasUno">
                                    2
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade modalSecciones" id="exampleModalUno" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
        </div>
    </div>
</div>